@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

$main-font: "Red Hat Display", arial, "open sans";

$primary-color: #1F3345;
$secondary-color: #F0EDE5;
$tertiary-color: #E6C8B7;
$quartinary-color: #314D67;
