@use "base.scss";

//Buttons
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px 10px;
    background-color: base.$tertiary-color;
    border: 1px solid #a38573;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #c99f86;
}

//Links
a {
    color: base.$secondary-color;
    text-decoration: none;
}

a:not(.active):hover, #makeReview:hover, #logout {
    text-decoration: underline;
}

//Forms
form {
    width: 350px;
    justify-self: center;
    margin-bottom: 80px;
    padding: 20px 2%;
    border-radius: 5px;
    box-shadow: 0 0 10 rgba(39, 39, 39, 0.7);
    background-color: base.$secondary-color;
}

label {
    color: base.$primary-color;
    font-size: 1rem;
}

input {
    width: 70%;
    margin: 10px 0px;
    padding: 5px 10px;
    border: 1px solid #a38573;
    border-radius: 5px;
}

textarea {
    display: block;
    width: 90%;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #a38573;
    border-radius: 5px;
}

#bookingDetails > input, #bookingDetails > div > input {
    width: 35%;
}

#bookingDetails > div > label:not(:first-of-type) {
    margin-left: 10px;
}