@use "base.scss";

//Buttons
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 5px 10px;
    background-color: base.$tertiary-color;
    border: 1px solid #a38573;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #c99f86;
}

.navBtn {
    background-color: transparent;
    border: none;
}

.navBtn:hover {
    background-color: transparent;
}

.line {
    display: block;
    height: 2.5px;
    width: 22px;
    margin: 7px 0px;
    background-color: base.$secondary-color;
}

.line1 {
    transform: rotate(40deg);
}

.line2 {
    transform: rotate(-40deg);
    margin-top: -9px;
}

#openNav, #closeNav {
    margin-right: 10px;
    display: none;
}

#openAdminNav {
    display: none;
}

.arrow {
    display: block;
    height: 2.5px;
    width: 15px;
    margin: 7px 0px;
    background-color: base.$primary-color;
}

#arrow1 {
    transform: rotate(40deg);
}

#arrow2 {
    transform: rotate(-40deg);
    margin-left: 9.5px;
    margin-top: -9.5px;
}

//Links
a {
    color: base.$secondary-color;
    text-decoration: none;
}

a:not(.active):hover, #makeReview:hover, #logout:hover {
    text-decoration: underline;
}

.tableBtn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.deleteBtn {
    background-color: #c54e3e;
    color: #fff;
    border-color: #9e3123;
}

.deleteBtn:hover {
    background-color: #9e3123;
}

//Forms
form {
    width: 350px;
    justify-self: center;
    margin-bottom: 80px;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10 rgba(39, 39, 39, 0.7);
    background-color: base.$secondary-color;
    color: base.$primary-color;
}

label {
    color: base.$primary-color;
    font-size: 1rem;
}

input {
    width: 65%;
    margin: 10px 0px;
    padding: 5px 10px;
    border: 1px solid #a38573;
    border-radius: 5px;
}

textarea {
    display: block;
    width: 90%;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #a38573;
    border-radius: 5px;
}

#bookingDetails > input, #bookingDetails > div > input {
    width: 100px;
}

#bookingDetails > div > label:not(:first-of-type) {
    margin-left: 10px;
}

.unavailable {
    background-color: base.$primary-color;
}

.unavailable > td {
    border-bottom: 1px solid base.$quartinary-color;
}

//Lightmode
@media (prefers-color-scheme: light) {
    //Links
    a { color: base.$primary-color; }

    //Buttons
    button { background-color: base.$quartinary-color; color: #fff; border: 1px solid #1b3146; }
    button:hover { background-color: #1f3952; }
    .line { background-color: base.$primary-color; }

    //Tables
    .unavailable { background-color: base.$tertiary-color; }
    
    //Forms
    form { box-shadow: 0 0 10 rgba(138, 114, 100, 0.9); }
}

//Screens under 800px
@media screen and (max-width: 800px) {
    //Admin navigation
    #openAdminNav { display: block; }
    #adminNav { margin-top: -30px; }
    #adminUl { display: none; }
}

//Screens under 640px
@media screen and (max-width: 640px) {
    #openNav, #closeNav { display: block; }
    nav:not(#adminNav) { width: 30%; margin-left: auto; }
    nav > ul:not(#adminUl) { display: none; position: absolute; right: 20; padding: 20px 10px; background-color: base.$primary-color; }
}

//Screens under 460px
@media screen and (max-width: 460px) {
    form { width: 250px; }
    label { display: block; }
}