@use "base.scss";

//General
body {
    font-family: base.$main-font;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px;
    color: base.$secondary-color;
    background-color: base.$quartinary-color;
}

h1 {
    margin-top: 40px;
    color: base.$tertiary-color;
    font-size: 1.9rem;
    text-align: center;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
}


//Navigation
header {
    z-index: 1000;
    display: block;
    padding: 40px 5% 20px 5%;
    background-color: base.$primary-color;
    box-shadow: 2 2 10 rgba(31, 51, 69, 0.9);
}

#introHeader {
    background-color: rgba(31, 51, 69, 0.9);
}

.bigLogo {
    background-image: url("../images/logotyp_ljus.svg");
    height: 120px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header > nav {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    list-style-type: none;
}

ul > a {
    text-decoration: none;
    color: base.$tertiary-color;
}

.active {
    font-weight: 600;
}

li {
    padding: 10px 20px;
}

#banner {
    height: 600px;
    background-image: url("../images/tapas_kajen.jpg");
    background-size: cover;
    background-position: center;

}

//Homepage
section > p {
    text-align: center;
}

#introText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 50ch;
    margin-bottom: 60px;
    padding-left: 5%;
    padding-right: 5%;
}

#introText > a {
    color: base.$tertiary-color;
}

#openHrs {
    margin: 40px 0px;
    line-height: 1rem;
}

#displayReviews {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.reviewArticle {
    width: 130px;
    padding: 50px 5%;
    margin: 10px;
    box-shadow: 0 0 10 rgba(31, 51, 69, 0.9);
    border-radius: 15px;
    background-color: base.$secondary-color;
    background-image: url("../images/citat.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: 10;
    color: base.$primary-color;
    font-weight: 500;
    text-align: center;
}

#makeReview {
    cursor: pointer;
}

#reviewForm {
    display: none;
}

//Menu page
#menuMain {
    display: flex;
}

#gallery {
    align-self: center;
    margin-top: 20px;
    width: 30%;
}

picture {
    display: block;
    margin: 10px 0px;
}

picture > img {
    width: 90%;
}

#menuMain > section {
    flex-grow: 1;
}

.menuFrame {
    margin: 50px auto;
    width: 80%;
    border: 1px solid base.$tertiary-color;
}

.menuHeader {
    position: relative;
    width: 140px;
    top: -40;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
    color: base.$tertiary-color !important; 
    background-color: base.$quartinary-color;
}

article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

article > div {
    display: flex;
}

article > div > p {
    margin-bottom: 0px;
}

article > p {
    margin-top: 0px;
}

.price {
    margin-left: auto;
}

//Booking page
#bookingFooter {
    margin-top: 0px;
}

#bookingMain {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../images/bokning.jpg");
    background-size: cover;
}

hr {
    background-color: base.$tertiary-color;
    width: 80%;
}

//Admin pages
//Bookings admin
#adminNav {
    background-color: base.$secondary-color;
    box-shadow: 2 2 10 rgba(31, 51, 69, 0.9);
}

#adminUl {
    width: fit-content;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#adminUl > li > a {
    color: base.$primary-color;
    font-size: 1.1rem;
}

table {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

thead {
    color: base.$primary-color;
    background-color: base.$secondary-color;
}

td {
    border-bottom: 1px solid base.$secondary-color;
    font-size: 1rem;
}

#otherBookings {
    width: fit-content;
    margin-bottom: 80px;
}

//Drink menu admin
#newDrinkDiv, #newTapasDiv  {
    display: none;
}

//Footer
footer {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 20px 5%;
    background-color: base.$primary-color;
}

footer > div > p {
    margin: 10px 0px;
}

.adminLink {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

//Lightmode
@media (prefers-color-scheme: light) {
    //General
    body { background-color: base.$secondary-color; color: base.$primary-color; }
    h1 { color: base.$primary-color; }
    footer { background-color: base.$tertiary-color; color: base.$primary-color; }

    //Header
    #introHeader { background-color: rgba(230, 200, 183, 0.8); }
    header { background-color: base.$tertiary-color; box-shadow: 2 2 10 rgba(138, 114, 100, 0.9); }
    .bigLogo { background-image: url("../images/logotyp_mörk.svg"); }

    //Home page
    .reviewArticle { background-color: base.$tertiary-color;background-image: url("../images/citat_mörk.svg"); box-shadow: 2 2 10 rgba(138, 114, 100, 0.9); }
    #introText > a { color: base.$quartinary-color; }

    //Menu page
    .menuFrame { border: 1px solid base.$quartinary-color; }
    .menuHeader { color: base.$quartinary-color !important; background-color: base.$secondary-color; }

    //Booking page
    #bookingMain { box-shadow: 100 1000 0 inset rgba(240, 237, 229, 0.7);}

    //Admin pages
    #adminNav { background-color: base.$quartinary-color; box-shadow: 2 2 10 rgba(138, 114, 100, 0.9); }
    #adminUl > li > a { color: base.$secondary-color; }
    thead { color: base.$tertiary-color; background-color: base.$quartinary-color; }
    td { border-bottom: 1px solid base.$quartinary-color; }
}

//Screens under 800px
@media screen and (max-width: 800) {
    .responsiveTable {  width: 85%; overflow-x: scroll; justify-self: center; }
    table { margin-left: 30px; justify-self: start;}
}

//Screens under 640px
@media screen and (max-width: 640) {
    #displayReviews { flex-direction: column; }
    .reviewArticle { width: 70%; }
    #gallery {  display: flex; width: 90%; justify-self: center; }
    #menuMain { display: block; }

    footer { flex-direction: column; text-align: center; }
    .adminLink { margin-right: auto; margin-top: 40px; }

    //Lightmode
    @media (prefers-color-scheme: light) {
        nav > ul > li > a { color: base.$secondary-color; }
        .line1, .line2, .arrow { background-color: base.$secondary-color !important; }
    }
}